apiVersion: capsule.clastix.io/v1alpha1
kind: CapsuleConfiguration
metadata:
  name: capsule-default
  namespace: capsule-system
spec:
  forceTenantPrefix: {{ force_tenant_prefix }} 
  protectedNamespaceRegex: "{{ protected_namespace_regex }}"
  userGroups:
  {% set ug = user_groups.split(',') %}
  {% for item in ug %}
    - "{{ item }}"
  {% endfor %}
